<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug='false'>
  <appender name='APP_LOG' class='org.apache.log4j.DailyRollingFileAppender'>
    <errorHandler class='org.apache.log4j.helpers.OnlyOnceErrorHandler' />
    <param name='File' value='logs/app.log' />
    
<!-- Schedule	DatePattern	Example of Log File’s Name
Minutely	'.'yyyy-MM-dd-HH-mm	sample.log.2017-11-09-21-54
Hourly	'.'yyyy-MM-dd-HH	sample.log.2017-11-09-22
Half-daily	'.'yyyy-MM-dd-a	sample.log.2017-11-09-AM
sample.log.2017-11-09-PM
Daily	'.'yyyy-MM-dd	sample.log.2017-11-09
Weekly	'.'yyyy-ww	sample.log.2017-45
sample.log.2017-46
Monthly	'.'yyyy-MM	sample.log.2017-10
sample.log.2017-11     -->
    
    
    <param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
    <param name='Append' value='false' />
    <layout class='org.apache.log4j.PatternLayout'>
      <param name='ConversionPattern' value='%L %d %-5p [%-30.40c{1}] %2X{tid} %X{sid} %X{uid} %m%n' />
    </layout>
  </appender>
  <appender name='ORM_LOG' class='org.apache.log4j.DailyRollingFileAppender'>
    <errorHandler class='org.apache.log4j.helpers.OnlyOnceErrorHandler' />
    <param name='File' value='logs/orm_log.log' />
    <param name='Append' value='false' />
    <param name='DatePattern' value='&apos;.&apos;yyyy-MM-dd' />
    <layout class='org.apache.log4j.PatternLayout'>
      <param name='ConversionPattern' value='%d %-5p [%-30.40c{1}] %2X{tid} %X{sid} %X{uid} %m%n' />
    </layout>
  </appender>
  <appender name='ORM_SQL_LOG' class='org.apache.log4j.DailyRollingFileAppender'>
    <errorHandler class='org.apache.log4j.helpers.OnlyOnceErrorHandler' />
    <param name='File' value='logs/orm_sql_log.log' />
    <param name='Append' value='false' />
    <param name='DatePattern' value='&apos;.&apos;yyyy-MM-dd' />
    <layout class='org.apache.log4j.PatternLayout'>
      <param name='ConversionPattern' value='%d %-5p [%-30.40c{1}] %2X{tid} %X{sid} %X{uid} %m%n' />
    </layout>
  </appender>
  <appender name='CACHE_LOG' class='org.apache.log4j.DailyRollingFileAppender'>
    <errorHandler class='org.apache.log4j.helpers.OnlyOnceErrorHandler' />
    <param name='File' value='logs/cache_log.log' />
    <param name='Append' value='false' />
    <param name='DatePattern' value='&apos;.&apos;yyyy-MM-dd' />
    <layout class='org.apache.log4j.PatternLayout'>
      <param name='ConversionPattern' value='%d %-5p [%-30.40c{1}] %2X{tid} %X{sid} %X{uid} %m%n' />
    </layout>
  </appender>
  <appender name='CONSOLE' class='org.apache.log4j.ConsoleAppender'>
    <errorHandler class='org.apache.log4j.helpers.OnlyOnceErrorHandler' />
    <param name='Target' value='System.out' />
    <param name='Threshold' value='TRACE' />
    <layout class='org.apache.log4j.PatternLayout'>
      <param name='ConversionPattern' value='%d{ABSOLUTE} %-5p [%c{1}][%X{tid}] %m%n %L' />
    </layout>
  </appender>
  <category name='org.grails.plugins.log4jxml' additivity='false'>
    <priority value='INFO' />
    <appender-ref ref='CONSOLE' />
  </category>
  <category name='org.jgroups' additivity='false'>
    <priority value='WARN' />
  </category>
  <category name='org.apache' additivity='false'>
    <priority value='INFO' />
  </category>
  <category name='com.tpv' additivity='true'>
    <priority value='DEBUG' />
    <appender-ref ref='APP_LOG' />
  </category>

  <category name='com.sun.javafx' additivity='true'>
    <priority value='DEBUG' />
    <appender-ref ref='APP_LOG' />
  </category>
  
  <category name='org.hibernate.SQL' additivity='false'>
    <priority value='DEBUG' />
    <appender-ref ref='ORM_SQL_LOG' />
  </category>

  <category name='org.hibernate' additivity='false'>
    <priority value='INFO' />
    <appender-ref ref='ORM_LOG' />
  </category>
  <!--category name='openjpa' additivity='false'>
    <priority value='INFO' />
    <appender-ref ref='ORM_LOG' />
  </category-->

  <category name='com.mchange' additivity='false'>
    <priority value='DEBUG' />
    <appender-ref ref='CACHE_LOG' />
  </category>
  
  <!--category name="com.mchange" additivity="false"> 
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
  </category-->
  <root>
    <priority value='info' />
    <appender-ref ref='CONSOLE' />
    <appender-ref ref='APP_LOG' />
  </root>
</log4j:configuration>